<nav class="navbar navbar-expand-lg navbar-dark bg-medium-slate-blue fixed-top">
      <a routerLink="/home" class="navbar-brand" >Online Book Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a routerLink="/req-book" class="nav-link">Request a Book</a>
              </li>
              <li class="nav-item nav-item-right">
                  <a routerLink="/cart"  class="nav-link">Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
              </li>
          </ul>
      </div>
</nav>
