<div class="container mt-5 pad-top">
  <div class="row">
    <div class="col-md-4 product-image pad" style="width: 16rem;">
      <img src="assets/book1.jpg" alt="{{ product.title }}" class="img-fluid" />
    </div>
    <div class="col-md-8 product-info">
      <h2>{{ product.title }}</h2>
      <p>Author: {{ product.author }}</p>
      <p>Price: ${{ product.price }}</p>
      <div *ngIf="showMessage" class="alert alert-success">
        {{ message }}
      </div>
      <a class="btn btn-sm btn-primary rounded-corners" (click)="addToCart(product)" *ngIf="product.inCart < 1">Add to Cart</a>
      <span *ngIf="product.inCart>0">
          <button class="btn btn-sm btn-danger bg-danger rounded-corners"
              (click)="removeFromCart(product); $event.stopPropagation();">
              <strong style="font-size: 13px;">-</strong>
          </button>
          <h1 class="badge bg-light text-dark">{{ product.inCart }}</h1>
          <button class="btn btn-sm btn-success bg-success rounded-corners" (click)="increaseQuantity(product); $event.stopPropagation();">
              <strong style="font-size: 13px;">+</strong>
          </button>
      </span>&nbsp;
      <button (click)="buyNow(product)" class="btn btn-sm btn-success rounded-corners">Buy Now</button> 
    </div>
    </div>
  </div>

<br>